footer {

}
footer .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 50px 0;
  row-gap: 20px;
}
footer .wrap ul.fnb {
  grid-column: 1 / span 2;
  grid-row: 1;
  position: relative;
}
footer .wrap ul.fnb::after{
  content: "";
  width: calc(100vw - 17px);
  position: absolute;
  left: calc((100vw - 17px - 1280px) / -2);
  border-bottom: 1px solid;
  bottom: 0;
}
footer .wrap ul.fnb li {

}
footer .wrap ul.fnb li a {
  font-size: 14px;
  padding: 5px 10px;
}
footer .wrap p.tel {
  align-self: center;
  font-size: 14px;
  padding: 5px 0;
}
footer .wrap h1 {
  grid-column: 1;
  grid-row: 2 / span 2;
  background: url(../img/png/footer-logo.png);
  width: 120px;
  height: 65px;
}
footer .wrap h1 a {
  height: 100%;
  font-size: 0;
}
footer .wrap address {
  grid-column: 2 / span 2;
  grid-row: 2;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
footer .wrap address span {

}
footer .wrap ul.sns {
  grid-column: 3;
  grid-row: 2;
  font-size: 14px;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
footer .wrap ul.sns li {

}
footer .wrap ul.sns li a {
  width: 30px;
  height: 30px;
  font-size: 0;
}
footer .wrap ul.sns li:nth-child(1) a {
  background: url(../img/png/ico-insta.png) no-repeat 50% 50%;
}
footer .wrap ul.sns li:nth-child(2) a {
  background: url(../img/png/ico-blog.png) no-repeat 50% 50%;
}
footer .wrap ul.sns li:nth-child(3) a {
  background: url(../img/png/ico-fb.png) no-repeat 50% 50%;
}
footer .wrap ul.sns li:nth-child(4) a {
  background: url(../img/png/ico-youtub.png) no-repeat 50% 50%;
}
footer .wrap ul.sns li:nth-child(5) a {
  background: url(../img/png/ico-app.png) no-repeat 50% 50%;
}
footer .wrap p.copyright {
  grid-column: 2 / span 2;
  grid-row: 3;
  color: #b8b8b8;
  font-weight: 300;
  font-size: 12px;
}