#title {  
  height: 720px;
}
#title .wrap {  
  width: auto;
  height: 100%;
}
#title .wrap > ul {  
  height: 100%;
  overflow: hidden;
}
#title .wrap > ul div{
  height: 100%
}
#title .wrap > ul li.t{  
  background-position: center;
}
#title .wrap > ul li.t1{  
  background-image: url(../img/jpg/DelightMoment.jpg);
}
#title .wrap > ul li.t2{
  background-image: url(../img/jpg/FindYourSummerColor.jpg);
}
#title .wrap > ul li.t3{
  background-image: url(../img/jpg/HappyEat,TasteGood!.jpg);
}
#title .wrap ul li h2 {  
  color: #eee;
}
#title .wrap ul li a {  
  /*! background-color: #eee; */
  /*! margin-top: 30px; */
  /*! padding: 10px; */
  /*! font-size: 16px; */
  /*! border-radius: 12px; */
  height: 100%;
  width: 100%;
  font-size: 0;
}